{
    "env": {
        "browser": true,
        "node": true,
        "jasmine": true,
        "protractor": true
    },
    "parserOptions": {
        "ecmaVersion": 6
    },
    "rules": {
        "no-undef": ["error"],
        "no-undefined": ["error"]
    },
    "plugins": [
        "protractor"
    ],
    "extends": "plugin:protractor/recommended"

}
